include blocks/head
	block content
		header.header.fixed-top
			nav.navbar.navbar-expand-md.navbar__column
				ul.navbar__column--top
					li.logo
						a.logo--image(href="#")
							img.logo--image--item(src="img/logo__fixed.svg", alt="logo")
						p.font__logo
							small открытые данные
							| Ростуризма
					li.nav--forms
						.form-search
							form
								input.input-medium.query__search(type='text' placeholder="russiatourism.ru")
						.query__comment
						.query__search.query__search--button
				.nav__main
					- var x = 6;
					- var items = ['Наборы данных ', 'Карта данных ', 'Новости','Статистика','Опросы','Помощь']
					ul.navbar-nav.mr-auto
						- for (var i=0; i<x; i++) {
							li.nav-item
								a.nav-link(href="#")= items[i]
						-	}
					.nav-item__dropdown.dropdown.complete
						a#dropdown01.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Еще
						.dropdown-menu(aria-labelledby='dropdown01')
		main.container(role='main')
			- var x = 60;
				- for (var i=0; i<x; i++) {
						br
						hr
				-	}


include blocks/footer